.card_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 8px 0;
}

@media screen and (min-width: 576px) {
    .card_container {
        background-color: #F6F6F6;
        border-radius: 25px;
        padding: 20px;
        margin: 45px 0;
    }
}